# ansible
pyyaml==6.0.2
lineinfile==0.4.1

# aws
boto3==1.35.97

# circadian
suntime==1.3.2
python-daemon==3.1.2

# daily
pyfzf==0.3.1

# github
requests==2.32.3
backoff==2.2.1

# taskwarrior
jinja2==3.1.5

# vault-mfa
segno==1.6.1

# vault_approle_cli
iso8601==2.1.0
